.container{
    width:75%;
}

.textarea{
    margin-top:15px;  
    padding:5px; 
    border: none;
}

.comment{
    display: flex;
    flex-direction: column;
    margin:15px;
    padding:20px;
    padding-top:10px;
    border-radius: 10px;
    background-color: rgb(241, 235, 235);
}
.name{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}